body {
   
    background-color: aqua;


}

header {


}

.container {
    background-color: aliceblue;
    padding: 10px 15px;
    max-width: 80%;
    width: 100%;

}

.display-1 {
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 3px 3px;


}


.form-check  {
    display: inline-block;
    margin: 2px 3px;
    
}


